* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  width: 50vw;
}

.search-bar > input {
  width: 100%;
  border: none;
  padding-left: 15px;
}

.search-bar > input::placeholder {
  padding-left: 12px;
}

.btn {
  padding-right: 12px;
}

.pann-container {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.items-list {
  display: flex;
  overflow-x: auto;
  width: 1300px;
  margin-inline: 104px;
}

.items-list > .item {
  white-space: nowrap;
  width: 1280px;
  margin-inline: 13px;
}

.items-list > .item > img {
  height: 175px;
}

.product-list {
  margin-top: 12px;
  margin-inline: 47px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.heading {
  margin-top: 27px;
  margin-left: 85px;
}

.Dairy-container {
  width: 88rem;
  margin-top: 20px;
  height: 23rem;
  display: block;
  flex-direction: column;
  justify-content: center;
  margin-inline: 67px;
  overflow-x: auto;
}
.card {
  width: 180px;
  height: 342px;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.Dairy-items {
  display: flex;
  flex-direction: row;
  height: 18rem;
  width: 1770px;
}

.timer {
  background-color: #f8f8f8;
  width: 5vw;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 700;
}

.item-name {
  font-weight: bold;
  width: 115%;
  height: 54px;
}

.price {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.item-button > button {
  width: 66px;
  border: 1px solid rgb(49, 134, 22);
  height: 31px;
  color: rgb(49, 134, 22);
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(247, 255, 249);
  border-radius: 0.375rem;
}


.footer{
  margin: 12px;
  padding-top: 12px;
  display: flex;
  justify-content: center;
}
