* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  width: 50vw;
}

.search-bar > input {
  width: 100%;
  border: none;
}

.search-bar > input::placeholder {
  padding-left: 12px;
}

.btn {
  padding-right: 12px;
}

.pann-container {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.items-list {
  display: flex;
  overflow-x: auto;
  margin-inline: 104px;
}

.items-list > .item {
  white-space: nowrap;
  width: 50%;
  margin-inline: 13px;
}

.items-list > .item > img {
  height: 175px;
}

.product-list {
  margin-top: 12px;
  margin-inline: 47px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

.heading {
  margin-top: 50px;
  margin-left: 85px;
}

.Dairy-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-inline: 79px;
  overflow-x: auto;
}

.card {
  width: 193px;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.Dairy-items {
  display: flex;
  flex-direction: row;
  height: 24rem;
  width: 130vw;
}

.timer {
  background-color: #f8f8f8;
  width: 5vw;
  border-radius: 4px;
  font-size: 9px;
  font-weight: 700;
}

.item-name {
  font-weight: bold;
  width: 100%;
  height: 64px;
}

.price {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.item-button > button {
  width: 66px;
  border: 1px solid rgb(49, 134, 22);
  height: 31px;
  color: rgb(49, 134, 22);
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(247, 255, 249);
  border-radius: 0.375rem;
}
